.center-text{
    text-align: center;
}

.container .row div a img{
    position:relative;
    transform: scale(1);
    transition: .3s;
}

.container .row div a img:hover {
    transform: scale(1.1);
}

.container .row div a label {
    position: inherit;
    transform: scale(1);
    transition: .3s;
}

.container .row div a:hover label {
    transform: scale(0);
}