<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/css/global-styles.css">
    <link rel="icon" href="../static/img/logo.png" type="img/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>

<!-- 🤑 Voy a probar como queda con un Navbar (Si no les gusta volvemos a esto)🤑

<header>
    <div class="logo">
        <a href="../templates/index.html">
            <img src="../static/img/logo.png" alt="Logo de la página UwU">
        </a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button>Buscar</button>
    </div>
    <div class="register-btn">
        <button>Registrarse</button>
    </div>
</header>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="../static/img/logo.png"alt="Logo de la página UwU" class="logo-navbar"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      
        <!--🤑  Usar el Navbar en vez de la pagina main nos puede facilitar mostrar otro contenido en esta como anuncios, nuevos lanzamientos
                de mangas o manhwas tambien cosas de la pagina de ig como anuncios de sorteos etc... 🤑 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/templates/mangas/index-mangas.html">Mangas</a>
                </li>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/templates/manhwas/index-manhwas.html">Manhwas</a>
                </li>

            <!-- 🤑 Se puede eliminar esto pero a mi parecer es necesario por si alguien encuentra la pagina web sin conocer la pagina de ig🤑 -->
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Redes Sociales
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.instagram.com/lol_latinoamerica_sur_/" target="_blank">Instagram</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://discord.gg/2bk32jmdtW" target="_blank">Grupo de Discord</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://chat.whatsapp.com/EBSN4DqaV03HMRLDNp3VwW" target="_blank">Grupo de Whatsapp</a></li>
                    
                </ul>
            </li> 
        </div>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<main>
    
    <div class="container">
        <a href="index-mangas.html">
            <div class="box">
                <h2>Mangas</h2>
            </div>
        </a>
        <a href="index-manhwas.html">
            <div class="box">
                <h2>Manhwas</h2>
            </div>
        </a>
    </div>
   
</main>

<footer class="footer mt-auto">
    <div class="container">
        <p>Proyecto de <a href="https://www.instagram.com/lol_latinoamerica_sur_/" target="_blank">@lol_latinoamerica_sur_</a> en Instagram | Todos los derechos reservados</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>